.nav-lang {
    background: #5596c7;
    // max-width: 16rem;
    margin-bottom: 2rem;
    padding: 2rem;
    text-align: right;
    color: #fff;

    h4 {
        text-align: left;
        float: left;
        margin: 0;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    nav {
        display: inline-block;
        // float: right;

        a.en:lang(en),
        a.ua:lang(ua),
        a.ru:lang(ru) {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
